.list {
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 10px;

  width: 100%;
}
